@charset "utf-8";

// Change variables before importing Bulma

// Set brand colors
$pink-light: #FFF1ED;
$pink-medium: #FFE3E2;
$pink: #FF8297;

$blue-light: #5779BA;
$blue: #374C73;
$blue-dark: #1C2A45;

$red: #CF1941;

$green: #058762;

// Update Bulma's variables
$body-background-color: $pink-light;
$text: $blue-dark;
$primary: $blue;
$link: $blue-light;

$footer-background-color: $body-background-color;

$card-content-padding: 0.5rem;

@import "~bulma/bulma.sass";

.site-logo-container {
  h3 {
    letter-spacing: 0.75rem;
  }
  @include mobile {
    .media-left {
      width: 48px;
      margin-right: 0.25rem;
    }
    .media-right .image {
      text-align: left;
    }
    .media-right .image img {
      width: 123px;
      height: 32px;
    }
    h3 {
      letter-spacing: 0.5rem;
    }
  }
  @include until($desktop) {
    margin-left: 1rem;
  }
}

.price-table {
  font-size: 0.875rem;
  @include mobile {
    font-size: 0.75rem;
  }
  @include until($desktop) {
    margin-right: 1rem;
  }
}

.kv-label {
  font-size: 0.75rem;
  font-weight: 600;
}